html main {
    width: 100%;
}
.footer {
    /*border: 0 solid red;*/
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    min-height: 10em;
    position: relative;
}


.media {
    /*border: 0px solid black;*/
    position: absolute;
    text-align: center;
    margin-left: 66%;
    width: 30%;
}

.paragraf {
    margin-top: 20px;
    color: white;
}

.stopka {
    /*border: 0px solid green;*/
    text-align: right;
    padding-top: 30px;
    margin-top: 25px;
    font-size: 18px;
    position: relative;
    width: 70%;


}

.size {
    width: 45px;
    height: 45px;
}

.social-icons a {
    display: inline-block;
}

.stopka a {
    width: 10%;
    padding: 20px 32px;
    text-decoration: none;
    text-align: center;
    color: white;
}

.zastrzezone {
    /*border: 0px solid yellow;*/
    text-align: center;
    margin-top: 20px;
    position: relative;
    font-size: 14px;
}


.lista li {
    display: inline-block;
}

.stopka a:hover {
    color: black;
    cursor: pointer;
}

.social-icons a:hover {
    cursor: crosshair;
    opacity: 0.7;
}

/*
.footer {
    background: rgba(0, 0, 0, 0.6);
    padding: 25px 0;
}

.stopka a {
    text-decoration: none;
    margin-top: 6px;
    border: 0 solid red;

    color: pink;
    display: inline-block;


}

.dol_strony {
    width: 60%;
    margin: 0 auto;
    border: 0 solid black;
    text-align: right;

}

.stopka {
    border: 2px solid green;
    width: 100%;
    color: white;
    position: static;

    font-size: 20px;

}

.zastrzezone {
    text-align: center;
    margin-top: 5px;
}

.kontakt {
    margin-right:50px;
}

.social {
    border: 0 solid pink;
    display: block;
    position: relative;
    width: 20%;
    height: 80px;
    margin-top: 12px;
    padding: 0 5px 0 5px;
    float: right;
}

.social a {
    margin-left: 2px;

}

.ikony-media {
    width: 48px;
    height: 48px;
    float: left;
    padding: 0 2px 0 2px;
    cursor: pointer;

}

.paragraf {
    border: 0 solid black;
    margin: -40px 2px 30px 45px;
    position: absolute;

}



.stopka1 li{
    padding-right: 1px;
    padding-left: 1px;
    display: inline-block;
    text-decoration: none;
}
li a:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
}
.stopka1 a {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.5s;
    transition-property: transform;
    font-size: 15px;
    padding: 9px;
}*/
