.footer {
    background-image: url("../images/tlo-o-nas2.png");
    padding: 2em 0;
    /*border: 1px solid black;*/
    width: 100%;
    /*background: rgba(0, 0, 0, 0.6);*/
    min-height: 10em;
}
.footer-info {
    font-size: 1.5em;
}
.social-media {
    display: flex;
    justify-content: space-around;
    padding:  1em 0;
    color: white;
    max-width: 100%;
}
.findUs{
    padding: 2em 0 0;
    color: white;
    font-size: 16px;
}
.size:hover {
    opacity: 0.8;

}
.footer-info a {
    color: white;
    text-shadow: 2px 2px black;
}
.footer-info a:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0 black;
}
.footer-info a:focus{
    text-decoration: none;
}
.allRights {
    color: white;
}
.size {
    width: 48px;
    height: 48px !important;
}
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -2px;
    background: black;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:active:before {
    right: 0;
}
@media (max-device-width: 799px) {
    .footer-info a {
        display: block;
        width: 50%;
        padding: 0.1em 0 2em 0;
    }
    .social-media  {
        display: flex;
        justify-content: space-around;
    }
}
@media screen and (min-width: 800px) {
    .footer-info {
        display: flex;
        justify-content: space-between;
    }
}

