.intro {
    background-image: url(../zdjecia/zajawka1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: sepia(50%);
}

h1 {
    margin-top: 50px;
    text-align: center;
    color: white;
    font: bold 50px/70px Sans-Serif;
    letter-spacing: -1px;

}

h1 span {
    line-height: 1.52;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.45);
    padding: 10px;

}

.button_newsletter {
    width: 300px;
    background-color:;
    border: 1px solid black;
    /*border-radius:10px;*/
    padding: 10px;
    margin: 100px auto;
}

.button_newsletter_text {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    white-space: nowrap;
    display: block;
    text-align: center;
}

h2 {
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font: bold 20px/30px Sans-Serif;
    letter-spacing: -1px;

}

h2 span {
    line-height: 2.1;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
}

