ul{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    line-height: 65px;
    margin: 0;
}
li{
    padding-right: 30px;
    padding-left: 30px;
    display: inline-block;
    text-decoration: none;
}
li a:hover {
    background-color: white;
    color: black;
    transform: scale(1.2);
}
li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 13px;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.0);
    transition-duration:0.4s;
    transition-timing-function:ease-out;
    white-space: nowrap;
}
nav{
    overflow: hidden;
    margin-top: 12px;
    background: rgba(0, 0, 0, 0.6);
    display: block;
    width: 100%;
    height: 90px;
    position: fixed;
    color: white;
    font-weight: bold;
}
.logo_belka {
    background-image: url(../images/logo_nav.jpg);
    height: 90px;
    width: 200px;
    position: absolute;
    background-repeat: no-repeat;
    background-size:contain;
    margin-left: 15px;
}