.navbar {
    position: fixed;
    z-index: 9000;
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px 0;
}
.navbar-brand {
    padding: 0;
}
.navbar-brand>img {
    height: 60px;
    margin-top: -10px;
}
.nav>li>a {
    font-size: 2em;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-toggle {
    margin-right: 28px;
}

.navbar-default .navbar-nav>li>a:focus {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: floralwhite;
    color: black;
    transform: scale(1);
}

@media (min-width: 768px) {
    .my-navbar {
        display: block;
    }
    .navbar-nav {
        float: none;
        display: flex;
        justify-content: space-around;
        padding-right: 107.14px;
    }
}