.about-us {
    max-width: 100%;
    text-align: center;
    font-size: 2em;
    font-style: italic;
    color: black;
}
.about-us > a {
    text-decoration: none;
}
.about-us > a > img {
    width: 50px;
    margin-top: 5px;
}


.about-us > a:hover {
    opacity: .8;
}
#about-us {
    /*background-image: url("../images/tlo-o-nas2.png");*/
    padding: 10% 0;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    max-width: 263px;
}

/*pierwsza osoba - Jarek*/

#kontener {
    position: relative;
    perspective: 800px;
}

#card {

    transform-style: preserve-3d;
    transition: transform 1s;
}

#card img {
    margin: 0 auto;
    display: block;
    backface-visibility: hidden;
    cursor: pointer;
}

#card .rotate {
    background: none;
}
#card .rotate2 {
    border-radius: 100%;
    background-size: contain;
    border: 2px solid black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: rotateY( 180deg );
    width: 100%;
}

#card.flipped {
    transform: rotateY( 180deg );
}


/*druga osoba - Marcin*/


#kontener1 {
    position: relative;
    perspective: 800px;
}

#card1 {

    transform-style: preserve-3d;
    transition: transform 1s;
}

#card1 img {
    margin: 0 auto;
    display: block;
    backface-visibility: hidden;
    cursor: pointer;
}

#card1 .rotate {
    background: none;
}
#card1 .rotate2 {
    background-size: contain;
    border-radius: 100%;
    border: 2px solid black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: rotateY( 180deg );
    width: 131%;
}

#card1.flipped {
    transform: rotateY( 180deg );
}


/*trzecia osoba - Oskar*/


#kontener2 {
    position: relative;
    perspective: 800px;
}

#card2 {

    transform-style: preserve-3d;
    transition: transform 1s;
}

#card2 img {
    margin: 0 auto;
    display: block;
    backface-visibility: hidden;
    cursor: pointer;
}

#card2 .rotate {
    background: none;
}
#card2 .rotate2 {
    border-radius: 100%;
    background-size: contain;
    border: 2px solid black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: rotateY( 180deg );
}

#card2.flipped {
    transform: rotateY( 180deg );
}

/*trzecia osoba - mateusz*/


#kontener3 {
    position: relative;
    perspective: 800px;
}

#card3 {

    transform-style: preserve-3d;
    transition: transform 1s;
}

#card3 img {
    margin: 0 auto;
    display: block;
    backface-visibility: hidden;
    cursor: pointer;
}

#card3 .rotate {
    background: none;
}
#card3 .rotate2 {
    border: 2px solid black;
    border-radius: 100%;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: rotateY( 180deg );
}

#card3.flipped {
    transform: rotateY( 180deg );
}




.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}


@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
