#o-nas{
    display: flex;
    justify-content: center;
}

.osoba{
    width:250px;
    height:250px;
}

.zdjecie{
    margin: 150px 10px 0 10px;
    width: 250px;
    height: 250px;
    border: 1px solid black;
}

.o-mnie {
    border: 1px solid black;
    width: 250px;
    text-align: center;
    font-size: 1.1em;

    margin: 0 10px 100px 10px;
}
