
body {
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
}



.obrazek {
    margin: 2em auto;
}


.text {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.functions .obrazek {
    max-width: 100%;
}

.functions {
    padding: 3% 0;
}
.brakhiperlacza {
    text-decoration: none;
}
