#funkcje-produktu {
    display: flex;
    justify-content: center;
}

#funkcje-produktu-dodatkowe {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.ikony {
    width: 8em;
}



.ikona {
    text-align: center;
    margin: 150px 10px 0;
    width: 250px;
    height: 180px;
}

.ikona-dodatkowe {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 250px;
    height: 180px;
}

.opis {
    width: 15em;
    text-align: center;
    font-size: 1.1em;

    margin: 0 0 100px 0;
}

.opis-dodatkowe {
    width: 15em;
    text-align: center;
    font-size: 1.1em;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
}


@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-118px);
        transform: translateY(-118px);
    }
}
@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-118px);
        transform: translateY(-118px);
    }
}
@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-18px);
        transform: translateY(-18px);
    }
}
.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(6px) translateZ(0);
    transform: perspective(6px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}



.obrazek {
    margin: 2em auto;
}


.text {
    text-align: center;
    padding: 0 2em 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.functions .obrazek {
    max-width: 60%;
}