#funkcje-produktu{
    display: flex;
    justify-content: center;
}

.ikony{
    width:12em;
}

.ikona{
    margin: 150px 10px 0;
    width: 250px;
    height: 250px;
}

.opis {
    width: 13em;
    text-align: center;
    font-size: 1.1em;

    margin: 0 0 100px 0;
}

body
{
    margin: 0;
}
